In [2]:
import pandas as pd

In [13]:
df_games = pd.read_parquet('../data/df_games.parquet')
df_reviews = pd.read_parquet('../data/processed/df_reviews.parquet')
df_items = pd.read_parquet('../data/processed/df_items.parquet')
piv_norm = pd.read_parquet('../data/piv_norm.parquet')
user_sim_df = pd.read_parquet('../data/user_sim_df.parquet')
item_sim_df = pd.read_parquet('../data/item_sim_df.parquet')
df_genre = pd.read_parquet('../data/df_genre.parquet')

In [14]:
df_genre.head()

             user_id  playtime_forever  genres  release_year
0  76561197970982479               6.0  Action          2000
1  76561197970982479               0.0  Action          1999
2  76561197970982479               7.0  Action          2003
3  76561197970982479               0.0  Action          2001
5  76561197970982479               0.0  Action          2000

In [19]:
df_genre

ValueError: Grouper and axis must be same length

In [11]:
df_games.head()

       genres                title  release_year  price        id  developer
0      Action  Lost Summoner Kitty          2018   4.99  761140.0  Kotoshiro
1      Casual  Lost Summoner Kitty          2018   4.99  761140.0  Kotoshiro
2       Indie  Lost Summoner Kitty          2018   4.99  761140.0  Kotoshiro
3  Simulation  Lost Summoner Kitty          2018   4.99  761140.0  Kotoshiro
4    Strategy  Lost Summoner Kitty          2018   4.99  761140.0  Kotoshiro

In [12]:
df_items

,user_id,items_count,item_id,item_name,playtime_forever
0,76561197970982479,277,10,Counter-Strike,6.0
1,76561197970982479,277,20,Team Fortress Classic,0.0
2,76561197970982479,277,30,Day of Defeat,7.0
3,76561197970982479,277,40,Deathmatch Classic,0.0
4,76561197970982479,277,50,Half-Life: Opposing Force,0.0
...,...,...,...,...,...
5170009,76561198329548331,7,346330,BrainBread 2,0.0
5170010,76561198329548331,7,373330,All Is Dust,0.0
5170011,76561198329548331,7,388490,One Way To Die: Steam Edition,3.0
5170012,76561198329548331,7,521570,You Have 10 Seconds 2,4.0
5170013,76561198329548331,7,519140,Minds Eyes,3.0

In [15]:
def UserForGenre(genero:str):

  # Filter data for the given genre
  genre_data = df_genre[df_genre['genres'] == genero]

  # Calculate total playtime per user per year (assuming playtime_forever in minutes)
  user_year_playtime = (
      genre_data
      .groupby(['user_id', genre_data['release_year']])['playtime_forever']
      .sum()
      .apply(lambda x: x / 60)  # Convert minutes to hours
      .reset_index()
  )

  # Group by user ID and sum playtime across years
  user_playtime_total = user_year_playtime.groupby('user_id')['playtime_forever'].sum()

  # Find user with the most playtime
  top_user_id = user_playtime_total.idxmax()

  # Filter data for the top user
  top_user_data = user_year_playtime[user_year_playtime['user_id'] == top_user_id]

  # Prepare playtime details
  playtime_details = [
      {'year': row["release_year"], 'hours': round(row["playtime_forever"], 2)}
      for _, row in top_user_data.iterrows()
  ]

  # Return user details dictionary
  return {
      "genre": genero,
      "user_id": top_user_id,
      "Hours played": playtime_details
  }

In [16]:
UserForGenre('Action')

{'genre': 'Action',
 'user_id': 'shinomegami',
 'Hours played': [{'year': 1988, 'hours': 2.27},
  {'year': 1991, 'hours': 0.0},
  {'year': 1992, 'hours': 0.0},
  {'year': 1993, 'hours': 0.0},
  {'year': 1994, 'hours': 0.0},
  {'year': 1995, 'hours': 0.03},
  {'year': 1996, 'hours': 19.35},
  {'year': 1997, 'hours': 1.65},
  {'year': 1998, 'hours': 61.93},
  {'year': 1999, 'hours': 5.03},
  {'year': 2000, 'hours': 159.53},
  {'year': 2001, 'hours': 40.48},
  {'year': 2002, 'hours': 0.0},
  {'year': 2003, 'hours': 8879.27},
  {'year': 2004, 'hours': 2.0},
  {'year': 2005, 'hours': 5.72},
  {'year': 2006, 'hours': 34.05},
  {'year': 2007, 'hours': 1139.23},
  {'year': 2008, 'hours': 3.0},
  {'year': 2009, 'hours': 3496.75},
  {'year': 2010, 'hours': 156.75},
  {'year': 2011, 'hours': 1483.1},
  {'year': 2012, 'hours': 300.65},
  {'year': 2013, 'hours': 2427.27},
  {'year': 2014, 'hours': 1490.75},
  {'year': 2015, 'hours': 1686.15},
  {'year': 2016, 'hours': 709.38},
  {'year': 2017, 'hours': 2.25}]}